<form onsubmit={{action "submitForm"}}>
    <div>
        <label>First Name:</label>
        {{input type="text" placeholder="First Name" value=this.speaker.firstName}}
    </div>

    <div>
        <label>Last Name:</label>
        {{input type="text" placeholder="LastName" value=this.speaker.lastName}}>
    </div>

    <div>
        <button type="submit" class="btn-submint">save</button>
    </div>
</form>