<div class="slide-out-bg"></div>

<div class="slide-out">
    <div class="slide-out-card">
        {{#link-to "author.index"}}
            <span class="btn-back">Back</span>
        {{/link-to}}

        <div class="slide-out-heading">
            <div class="title">
                <h3>{{model.lastName}} {{model.firstName}}</h3>
                <div class="actions">
                    <a href class="btn-pop">edit</a>
                    <button class="btn-recessed">delete</button>
                </div>
            </div>
        </div>
        <div class="slide-out-content"></div>
    </div>
</div>