<div>
    <div>
        <div>
            {{#link-to "meetings"}}
            <button type="button" class="btn btn-outline-primary">Back</button>
            {{/link-to}}
        </div>
    </div>
    <div>
        <div>
            <h3>New Meetings: {{meeting.title}}</h3>
        </div>
    </div>
    <div>
        <div>
            Form
        </div>
        {{meetings-form meeting=model onSubmit=(action "saveMeeting")}}
        
    </div>

</div>