<div class="slide-out" style="padding-bottom: 50px;">
    <div class="title">
        <div class="slide-out-card">
            {{#link-to "books"}}
            <button type="button">Back</button>
            {{/link-to}}
        </div>
        <img src={{model.img}} class="card-img-top" alt="Обложка книги">
        <h3>{{model.title}}</h3>

        <button type="button">Edit</button>
        <button type="button" onclick={{action "deleteBook" model}}>Delete</button>
    </div>
</div>