<div>
    <div>
        <div>
            {{#link-to "speakers"}}
            <button type="button">Back</button>
            {{/link-to}}
        </div>
    </div>
    <div>
        <div>
            <h3>New Speaker: </h3>
        </div>
    </div>
    <div>
        <div>
            {{speaker-form speaker=speaker onsubmit=(action "saveSpeaker")}}
        </div>
    </div>

</div>