<div>
    <div>
        <div>
            {{#link-to "speakers"}}
            <button type="button">Back</button>
            {{/link-to}}
        </div>
    </div>
    <div>
        <div>
            <h3>New Speaker:{{speaker.firstName}} {{speaker.lastName}} {{speaker.img}}</h3>
        </div>
    </div>
    <div>
        <div>
            {{speaker-form speaker=model onSubmit=(action "saveSpeaker")}}
        </div>
        
    </div>

</div>