<div class="slide-out">
    <div class="title">
        <div class="slide-out-card">
            {{#link-to "speakers"}}
            <button class="btn-back" type="button">back</button>
            {{/link-to}}
        </div>
        <h3> {{model.lastName}} {{model.firstName}}</h3>
        <div class="actions">
            {{#link-to "speakers.edit" model.id class="btn-pop"}}
            edit
            {{/link-to}}
            <button class="btn-recessed" onclick={{action "deleteSpeaker" model}} type="button">delete</button>
        </div>
        <div>
            <h3>Привет!</h3>
            <h4>Меня зовут Максим.</h4>
            <h5>И я разрабатываю веб-приложения!</h5>
        </div>
    </div>
</div>