<div class="slide-out">
    <div class="title">
        <div class="slide-out-card">
            {{#link-to "speakers"}}
            <button class="btn-back" type="button">back</button>
            {{/link-to}}
        </div>
        <h3>{{this.model.lastName}}</h3>
        <h3>{{this.model.firstName}}</h3>
        <div class="actions">
            {{#link-to "speakers.edit" this.model.id class="btn-pop"}}
            edit
            {{/link-to}}
            <button class="btn-recessed" onclick={{action "deleteSpeaker" this.model}} type="button">delete</button>
        </div>
    </div>
</div>