<div>
    <div>
        <div>
            {{#link-to "speakers"}}
            <button type="button">Back</button>
            {{/link-to}}
        </div>
    </div>

    <div>
        <div>
            <h3>Edit Speaker: {{model.lastName}} {{model.firstName}}</h3>
            <img src={{model.img}} class="card-img-top" alt="Обложка автора">

        </div>
    </div>

    <div>
        {{speaker-form speaker=model onSubmit=(action "saveSpeaker")}}
    </div>

</div>