<div>
    <div>
        <div>
            {{#link-to "speakers"}}
            <button type="button">Back</button>
            {{/link-to}}
        </div>
    </div>

    <div>
        <div>
            <h3>Edit Speaker: {{model.lastName}} {{model.firstName}}</h3>
        </div>
    </div>

    <div>
        {{speaker-form speaker=model onsubmit=(action "saveSpeaker")}}
    </div>

</div>