<div class="panel-heading" style="margin-top: 200px;">
    <div class="search">
        {{input type="text" placeholder="Search by Author Name" value=search}}
    </div>

    <a href class="btn-new">
        <div class="sr-only">Add new Author</div>
    </a>
</div>

<div class="panel-content">
    <h3 class="panel-title">Authors</h3>
    <ul class="collection">
        {{#each model as |author|}}
            <li>
                <a href>
                    {{get-author author.firstName author.lastName}}
                </a>
            </li>
        {{/each}}
    </ul>
</div>